**/.DS_Store
**/.Rhistory
**/*.RData
**/~$*.pptx
figures/
tables/
html/data/
html/figures/
html/rdata/
html/server_setup/
html/tables/
html/Module09_SampleQCViz_files/
html/Module11X_BonusContent_files/
html/Module11_DEVisualizations_files/
html/images/source
/Module11_DEVisualizations_files/
rdata/
